.card-child{
    overflow: scroll;
    background-color: transparent;
    cursor: text;
    outline: none;

    border: #FF634E solid 1px;
    border-radius: 25px;

    min-width: 250px;

    font-weight: lighter;
    font-size: 1rem;

    margin: 15px 20px;
    padding: 5px 4px;
}

.card-main div{
    color: #FF634E;
    text-align: left;
    padding-left: 4px;
}

.card-child > h3{
    margin-left: 20px;
    align-content: center;
}
.text{
    color: #FF634E;
    font-weight: normal;
    text-align: left;
    margin-left: 20px;
}